<script lang="ts">
	import { setAppContext } from "$lib/context"
	import { sampleLists } from "$lib/fixtures"
	import { lists } from "$lib/with-stores/stores"
	import type { PageData } from "./$types"

	export let data: PageData
	const { appSection } = data
	setAppContext({ appSection })

	function handleLoadSampleLists() {
		$lists = sampleLists
	}
</script>

<nav>
	<span>with store</span>
	<a href={`/${appSection}`}>My lists</a>
	<button on:click={handleLoadSampleLists}>load sample lists</button>
</nav>

<slot />
