<script lang="ts">
	import List from "$lib/components/List.svelte"
	import ListIndex from "$lib/components/ListIndex.svelte"
	import type { PageData } from "./$types"

	export let data: PageData
	$: ({ list, lists } = data)
</script>

<List
	{list}
	on:delete={() => alert("TODO delete list")}
	on:deleteItem={(event) => alert(`TODO delete item ${event.detail.item.id}`)}
/>

<h2>My lists</h2>
<ListIndex {lists} />
