<script lang="ts">
	import { goto } from "$app/navigation"
	import { page } from "$app/stores"
	import List from "$lib/components/List.svelte"
	import ListIndex from "$lib/components/ListIndex.svelte"
	import { getYjsContext } from "$lib/with-yjs/context"
	import {
		deleteItemFromList,
		deleteList,
		findListById,
		type IAwarenessData,
	} from "$lib/with-yjs/model"
	import { createAwarenessStore } from "$lib/with-yjs/yjs"
	import type { PageData } from "./$types"
	import YjsStatus from "./YjsStatus.svelte"

	export let data: PageData
	const { appSection } = data

	const yjsContext = getYjsContext()
	const lists = yjsContext.getLists()
	const yStore = yjsContext.getYStore()

	$: ({ webrtcProvider } = $yStore)
	$: awareness = webrtcProvider
		? createAwarenessStore<IAwarenessData>(webrtcProvider.awareness)
		: null

	$: ({ listId } = $page.params)

	$: list = findListById(listId, $lists)

	let isCollaborative = true
</script>

{#if list}
	<!-- <label><input type="checkbox" bind:checked={isCollaborative} /> collaborative</label> -->
	{#if isCollaborative && awareness}
		<YjsStatus {awareness} />
	{/if}
	<List
		{list}
		on:delete={(event) => {
			const { list } = event.detail
			deleteList(list, lists)
			goto(`/${appSection}`)
		}}
		on:deleteItem={(event) => {
			const { list, item } = event.detail
			deleteItemFromList(item, list, lists)
		}}
	/>
{:else}
	<p>(client error) The "{listId}" list was not found.</p>
{/if}

{#if $lists.length}
	<h2>My lists</h2>
	<ListIndex lists={$lists} />
{/if}
