<script lang="ts">
	import type { IAwarenessData, IAwarenessUserData } from "$lib/with-yjs/model"
	import type { YReadableAwareness } from "$lib/with-yjs/yjs"
	import { generateUserData } from "./awareness"

	export let awareness: YReadableAwareness<IAwarenessData>

	$: console.log($awareness)

	function setUserData(awarenessUserData: IAwarenessUserData) {
		awareness.setLocalStateField("user", awarenessUserData)
	}

	let { color, nickname } = generateUserData()

	setUserData({ color, nickname })
	$: setUserData({ color, nickname })
</script>

<!-- <fieldset>
	<legend>connection status</legend>
	{$status}
</fieldset>

<fieldset>
	<legend>sync status</legend>
	{$sync}
</fieldset> -->

<fieldset>
	<legend>connected users</legend>
	<label>
		nickname
		<input type="text" bind:value={nickname} />
	</label>
	<p>connected users:</p>
	<ul>
		{#each $awareness as { user: { color, nickname } }}
			<li>
				<span style:color>{nickname}</span>
			</li>
		{/each}
	</ul>
</fieldset>
