<script lang="ts">
	import { setAppContext } from "$lib/context"
	import type { PageData } from "./$types"

	export let data: PageData
	const { appSection } = data
	setAppContext({ appSection })
</script>

<nav>
	<span>with load</span>
	<a href={`/${appSection}`}>My lists</a>
</nav>

<slot />
