<script lang="ts">
	import ListIndex from "$lib/components/ListIndex.svelte"
	import type { PageData } from "./$types"

	export let data: PageData
	const { lists } = data
</script>

<h2>My lists</h2>

<ListIndex {lists} />
