<script lang="ts">
	import { goto } from "$app/navigation"
	import { page } from "$app/stores"
	import List from "$lib/components/List.svelte"
	import ListIndex from "$lib/components/ListIndex.svelte"
	import { assertIsDefined } from "$lib/typescript-utils"
	import { findListById } from "$lib/with-stores/model"
	import { lists } from "$lib/with-stores/stores"
	import type { PageData } from "./$types"

	export let data: PageData
	const { appSection } = data

	$: ({ listId } = $page.params)

	$: list = findListById(listId, $lists)
</script>

{#if list}
	<List
		{list}
		on:delete={(event) => {
			lists.deleteList(assertIsDefined(list).id)
			goto(`/${appSection}`)
		}}
		on:deleteItem={(event) =>
			lists.deleteItemFromList(assertIsDefined(list).id, event.detail.item.id)}
	/>
{:else}
	<p>(client error) The "{listId}" list was not found.</p>
{/if}

{#if $lists.length}
	<h2>My lists</h2>
	<ListIndex lists={$lists} />
{/if}
