<script lang="ts">
	import type { IListItem } from "$lib/with-load/model"
	import { createEventDispatcher } from "svelte"

	const dispatch = createEventDispatcher<{ delete: { item: IListItem } }>()

	export let item: IListItem
</script>

<span>{item.label}</span>

<button on:click={() => dispatch("delete", { item })}>delete</button>
