<script lang="ts">
	import { getAppContext } from "$lib/context"
	import type { IList } from "$lib/with-load/model"

	export let lists: IList[]

	const { appSection } = getAppContext()

	const badList: IList = { id: "bad", label: "Bad list", items: [] }

	$: allLists = [...lists, badList]
</script>

{#if allLists.length}
	<ul>
		{#each allLists as list (list.id)}
			<li>
				<a href={`/${appSection}/${list.id}`}>{list.label}</a>
			</li>
		{/each}
	</ul>
{:else}
	<p>No lists</p>
{/if}
