<script lang="ts">
	import type { IList, IListItem } from "$lib/with-load/model"
	import { createEventDispatcher } from "svelte"
	import ListItem from "./ListItem.svelte"

	const dispatch = createEventDispatcher<{
		delete: { list: IList }
		deleteItem: { list: IList; item: IListItem }
	}>()

	export let list: IList
</script>

<h2>
	{list.label}
	<button on:click={() => dispatch("delete", { list })}>Delete</button>
</h2>

{#if list.items.length}
	<ul>
		{#each list.items as item (item.id)}
			<li>
				<ListItem {item} on:delete={() => dispatch("deleteItem", { list, item })} />
			</li>
		{/each}
	</ul>
{:else}
	<p>No items</p>
{/if}
