<script lang="ts">
	import { setAppContext } from "$lib/context"
	import { sampleLists } from "$lib/fixtures"
	import { setYjsContext } from "$lib/with-yjs/context"
	import type { IList } from "$lib/with-yjs/model"
	import { createYArrayStore, createYStore } from "$lib/with-yjs/yjs"
	import type { PageData } from "./$types"

	export let data: PageData
	const { appSection } = data
	setAppContext({ appSection })

	const roomName = "my-room-name"
	const yStore = createYStore({ roomName })
	const lists = createYArrayStore<IList>($yStore.ydoc, "lists")

	setYjsContext({
		getLists: () => lists,
		getYStore: () => yStore,
	})

	function handleLoadSampleLists() {
		$yStore.ydoc.transact(() => {
			lists.yvalue.delete(0, $lists.length)
			lists.yvalue.push(lists.wrapNested(sampleLists))
		})
	}
</script>

<nav>
	<span>with yjs</span>
	<a href={`/${appSection}`}>My lists</a>
	<button on:click={handleLoadSampleLists}>load sample lists</button>
</nav>

<slot />
