<script lang="ts">
	import ListIndex from "$lib/components/ListIndex.svelte"
	import { getYjsContext } from "$lib/with-yjs/context"

	const yjsContext = getYjsContext()
	const lists = yjsContext.getLists()

	$: console.log("lists page", $lists)
</script>

<h2>My lists</h2>

<ListIndex lists={$lists} />
